body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1;
    position: relative;
}
/*container to hold sidbar and content*/
.container {
    display: flex;
    width: 100%;
}
/* content style */
.sidbar {
    width: 250px;
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.sidbar h3 {
    margin-top: 0;
    font-size: 1.5em;
}
.sidbar ul {
    list-style: none;
    padding: 0;
}
.sidbar ul li {
    margin: 10px 0;
}
.sidbar ul li a:hover {
    color: green;
}
.sidbar {
    list-style-position: inside;
}
/* main content style */
.content {
    flex: 1;
    padding: 20px;
    background-color: azure;
}
main h2 {
    font-size: 1.8rem;
    margin-right: 5rem;
}
.content p,
.content ul {
    font-size: 1em;
    line-height: 1.6;
}
.content ul {
    list-style: disc inside;
}

.styled-table thead tr {
    background-color: aqua;
    color: blue;
    text-align: left;
    font-weight: bold;
}
main {
    position: absolute;
    top: 0;
    right: 0;
    width: 1200px;
}
